<h1 class="h3 mb-3">New S3 Mapping</h1>

<%= form_with model: [@app, @app_env, @env_set, @mapping] do |f| %>
  <div class="mb-3">
    <%= f.label :match_kind, class: "form-label" %>
    <%= f.select :match_kind, S3SetMapping::MATCH_KINDS, {}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :key_pattern, class: "form-label" %>
    <%= f.text_field :key_pattern, class: "form-control" %>
  </div>

  <div class="form-check mb-3">
    <%= f.check_box :sync_enabled, class: "form-check-input" %>
    <%= f.label :sync_enabled, class: "form-check-label" %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
